In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# Solution 1) read the Excel file and create a dataframe
airdata = pd.read_excel('AirQualityUCI.xlsx')
print(airdata.head())

        Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)   C6H6(GT)  \
0 2004-03-10  18:00:00     2.6      1360.00       150  11.881723
1 2004-03-10  19:00:00     2.0      1292.25       112   9.397165
2 2004-03-10  20:00:00     2.2      1402.00        88   8.997817
3 2004-03-10  21:00:00     2.2      1375.50        80   9.228796
4 2004-03-10  22:00:00     1.6      1272.25        51   6.518224

   PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)  \
0        1045.50    166.0       1056.25    113.0       1692.00      1267.50
1         954.75    103.0       1173.75     92.0       1558.75       972.25
2         939.25    131.0       1140.00    114.0       1554.50      1074.00
3         948.25    172.0       1092.00    122.0       1583.75      1203.25
4         835.50    131.0       1205.00    116.0       1490.00      1110.00

       T         RH        AH
0  13.60  48.875001  0.757754
1  13.30  47.700000  0.725487
2  11.90  53.975000  0.750239
3  11.00  60.000000  0.786713
4  11.15  59.575001  0.788794

In [5]:
# Solution 2) Find the number of columns and rows
#     row, column
print('Number of columns: {0}, Number of rows: {1}'
      .format(airdata.shape[1], airdata.shape[0]))

Number of columns: 15, Number of rows: 9357

In [6]:
# Solution 3) Print the first 5 rows of the dataframe
airdata.head(11)

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.600,48.875001,0.757754
1,2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.300,47.700000,0.725487
2,2004-03-10,20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.900,53.975000,0.750239
3,2004-03-10,21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.000,60.000000,0.786713
4,2004-03-10,22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.150,59.575001,0.788794
5,2004-03-10,23:00:00,1.2,1197.00,38,4.741012,750.25,89.0,1336.50,96.0,1393.00,949.25,11.175,59.175000,0.784772
6,2004-03-11,00:00:00,1.2,1185.00,31,3.624399,689.50,62.0,1461.75,77.0,1332.75,732.50,11.325,56.775000,0.760312
7,2004-03-11,01:00:00,1.0,1136.25,31,3.326677,672.00,62.0,1453.25,76.0,1332.75,729.50,10.675,60.000000,0.770238
8,2004-03-11,02:00:00,0.9,1094.00,24,2.339416,608.50,45.0,1579.00,60.0,1276.00,619.50,10.650,59.674999,0.764819
9,2004-03-11,03:00:00,0.6,1009.75,19,1.696658,560.75,-200.0,1705.00,-200.0,1234.75,501.25,10.250,60.200001,0.751657
10,2004-03-11,04:00:00,-200.0,1011.00,14,1.293620,526.75,21.0,1817.50,34.0,1196.75,445.25,10.075,60.474999,0.746495

In [7]:
# 4) Find the data type of the columns
print(airdata.dtypes)
print(airdata.eq(-200).sum())
airdata[airdata.eq(-200).any(1)]

Date             datetime64[ns]
Time                     object
CO(GT)                  float64
PT08.S1(CO)             float64
NMHC(GT)                  int64
C6H6(GT)                float64
PT08.S2(NMHC)           float64
NOx(GT)                 float64
PT08.S3(NOx)            float64
NO2(GT)                 float64
PT08.S4(NO2)            float64
PT08.S5(O3)             float64
T                       float64
RH                      float64
AH                      float64
dtype: object
Date                0
Time                0
CO(GT)           1683
PT08.S1(CO)       366
NMHC(GT)         8443
C6H6(GT)          366
PT08.S2(NMHC)     366
NOx(GT)          1639
PT08.S3(NOx)      366
NO2(GT)          1642
PT08.S4(NO2)      366
PT08.S5(O3)       366
T                 366
RH                366
AH                366
dtype: int64

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
9,2004-03-11,03:00:00,0.6,1009.750000,19,1.696658,560.750000,-200.0,1705.000000,-200.0,1234.750000,501.250000,10.250000,60.200001,0.751657
10,2004-03-11,04:00:00,-200.0,1011.000000,14,1.293620,526.750000,21.0,1817.500000,34.0,1196.750000,445.250000,10.075000,60.474999,0.746495
33,2004-03-12,03:00:00,0.8,888.750000,21,1.869445,574.250000,-200.0,1680.250000,-200.0,1187.000000,512.000000,6.975000,62.275000,0.626108
34,2004-03-12,04:00:00,-200.0,831.000000,10,1.068293,505.750000,21.0,1892.750000,32.0,1133.750000,384.000000,6.100000,65.900002,0.624754
39,2004-03-12,09:00:00,-200.0,1544.500000,-200,22.074162,1353.000000,-200.0,767.250000,-200.0,2058.000000,1587.750000,9.225000,56.199999,0.656065
57,2004-03-13,03:00:00,1.7,1171.750000,46,5.390104,782.750000,-200.0,1178.500000,-200.0,1379.750000,995.500000,7.800000,67.525000,0.717312
58,2004-03-13,04:00:00,-200.0,1147.000000,56,6.199042,821.000000,109.0,1132.250000,83.0,1411.750000,991.500000,7.000000,71.075001,0.715778
81,2004-03-14,03:00:00,2.4,1344.000000,132,9.737786,967.750000,-200.0,920.500000,-200.0,1619.750000,1278.250000,11.650000,63.425000,0.867449
82,2004-03-14,04:00:00,-200.0,1129.500000,56,5.191654,773.000000,70.0,1130.250000,82.0,1451.750000,1050.500000,12.100000,61.100001,0.860316
105,2004-03-15,03:00:00,1.1,1078.250000,44,4.429863,734.000000,-200.0,1128.250000,-200.0,1486.750000,1020.500000,12.600000,63.474999,0.923017
106,2004-03-15,04:00:00,-200.0,1077.500000,44,3.995924,710.500000,66.0,1150.000000,71.0,1467.500000,1012.750000,12.350000,65.350000,0.935112
129,2004-03-16,03:00:00,0.7,929.250000,25,2.325062,607.500000,-200.0,1375.500000,-200.0,1364.250000,825.750000,13.625000,62.050000,0.963555
130,2004-03-16,04:00:00,-200.0,941.000000,25,2.589178,625.500000,59.0,1315.750000,59.0,1373.250000,839.750000,12.325000,66.150001,0.945036
153,2004-03-17,03:00:00,0.7,933.250000,26,2.581679,625.000000,-200.0,1291.500000,-200.0,1331.500000,883.750000,13.050000,57.900001,0.866633
154,2004-03-17,04:00:00,-200.0,882.750000,17,1.898935,576.500000,54.0,1396.000000,60.0,1303.250000,808.250000,12.650000,57.900001,0.844660
177,2004-03-18,03:00:00,0.7,970.250000,42,3.581202,687.000000,-200.0,1195.500000,-200.0,1350.500000,968.500000,13.875000,53.875000,0.850059
178,2004-03-18,04:00:00,-200.0,954.000000,28,2.884931,644.750000,60.0,1260.250000,78.0,1334.000000,924.750000,11.600000,61.924999,0.844196
184,2004-03-18,10:00:00,4.5,1616.500000,-200,21.312687,1332.500000,349.0,685.750000,150.0,2010.000000,1818.500000,17.850000,40.525000,0.820964
185,2004-03-18,11:00:00,2.8,1472.750000,-200,14.305786,1126.500000,224.0,830.500000,152.0,1752.000000,1567.750000,20.800001,34.450000,0.836456
186,2004-03-18,12:00:00,2.2,1378.500000,-200,12.521106,1067.500000,171.0,898.750000,139.0,1662.500000,1373.500000,23.850000,28.175000,0.821851
187,2004-03-18,13:00:00,2.2,1385.250000,-200,12.192364,1056.250000,149.0,891.000000,133.0,1648.000000,1267.500000,24.150000,28.675000,0.851493
188,2004-03-18,14:00:00,2.3,1378.750000,-200,13.092245,1086.750000,137.0,901.250000,126.0,1660.250000,1143.500000,25.150001,24.850000,0.782925
189,2004-03-18,15:00:00,2.2,1321.666667,-200,14.373248,1128.666667,149.0,933.666667,128.0,1639.333333,1109.333333,27.033333,17.833333,0.627469
190,2004-03-18,16:00:00,2.8,1495.750000,-200,16.835634,1205.000000,172.0,822.000000,169.0,1766.500000,1347.250000,27.125000,23.125000,0.818014
191,2004-03-18,17:00:00,2.7,1408.750000,-200,14.453860,1131.250000,166.0,873.000000,149.0,1688.500000,1205.750000,25.800000,23.925000,0.783193
192,2004-03-18,18:00:00,3.7,1512.750000,-200,21.515866,1338.000000,214.0,764.250000,156.0,1956.500000,1397.000000,23.050000,26.775000,0.744593
193,2004-03-18,19:00:00,5.1,1667.000000,-200,26.403336,1464.250000,280.0,683.250000,168.0,2117.750000,1588.250000,20.725000,31.125000,0.752287
194,2004-03-18,20:00:00,5.1,1666.750000,-200,25.960620,1453.250000,276.0,683.500000,176.0,2051.000000,1568.500000,18.600000,36.175000,0.767639
195,2004-03-18,21:00:00,3.2,1430.250000,-200,14.142883,1121.250000,178.0,814.000000,135.0,1731.500000,1321.500000,16.050000,48.425000,0.876780
196,2004-03-18,22:00:00,2.1,1333.250000,-200,10.305664,989.000000,129.0,885.250000,121.0,1620.750000,1194.000000,14.450000,57.775001,0.945558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9327,2005-04-03,09:00:00,1.2,1022.250000,-200,4.082095,715.250000,191.9,806.000000,118.0,1004.250000,830.750000,17.825000,30.675000,0.620458
9328,2005-04-03,10:00:00,1.4,970.250000,-200,3.402194,676.500000,166.4,887.500000,113.2,930.500000,612.500000,21.125000,23.725000,0.587528
9329,2005-04-03,11:00:00,1.3,999.750000,-200,5.313402,779.000000,171.3,804.500000,115.0,1000.750000,639.500000,24.000000,19.275000,0.567283
9330,2005-04-03,12:00:00,1.4,996.000000,-200,5.349138,780.750000,177.0,806.000000,123.9,985.250000,630.750000,26.450000,16.450000,0.559414
9331,2005-04-03,13:00:00,1.0,928.000000,-200,3.817080,700.500000,118.7,925.750000,86.4,902.000000,455.500000,28.675000,13.700000,0.530155
9332,2005-04-03,14:00:00,1.0,932.750000,-200,4.201281,721.750000,120.6,898.750000,87.0,889.500000,449.750000,28.475000,13.075000,0.500166
9333,2005-04-03,15:00:00,1.1,956.000000,-200,5.395234,783.000000,141.9,856.750000,100.4,895.750000,515.750000,30.000000,11.075000,0.462436
9334,2005-04-03,16:00:00,1.3,967.500000,-200,6.313819,826.250000,197.3,866.500000,132.0,898.250000,548.000000,29.425000,10.375000,0.419179
9335,2005-04-03,17:00:00,1.4,952.500000,-200,6.101377,816.500000,241.8,871.500000,156.3,891.000000,603.250000,28.875000,9.875000,0.386566
9336,2005-04-03,18:00:00,1.2,1014.666667,-200,4.594689,742.666667,190.1,850.666667,137.9,980.666667,597.333333,22.800001,21.699999,0.594491
9337,2005-04-03,19:00:00,2.7,1248.000000,-200,11.109658,1018.250000,367.4,598.750000,181.3,1289.250000,1167.000000,19.925000,33.050000,0.760784
9338,2005-04-03,20:00:00,2.5,1180.250000,-200,7.868564,893.750000,355.0,636.250000,186.8,1200.250000,1371.750000,17.500000,40.724999,0.807281
9339,2005-04-03,21:00:00,1.5,1101.750000,-200,5.999005,811.750000,235.2,692.750000,157.8,1178.000000,1042.250000,16.450000,46.550000,0.864238
9340,2005-04-03,22:00:00,1.6,1115.500000,-200,5.817660,803.250000,232.7,696.250000,153.2,1173.000000,1055.000000,15.525000,48.975000,0.857933
9341,2005-04-03,23:00:00,1.2,1099.750000,-200,5.106145,768.750000,170.1,721.750000,127.6,1146.750000,1049.000000,14.275000,52.500000,0.849727
9342,2005-04-04,00:00:00,0.9,1012.000000,-200,3.504006,682.500000,117.2,800.750000,93.0,1072.500000,816.250000,14.175000,51.450000,0.827454
9343,2005-04-04,01:00:00,0.6,944.250000,-200,1.931932,579.000000,69.6,924.750000,58.3,1001.750000,598.250000,13.850000,51.150001,0.805778
9344,2005-04-04,02:00:00,0.5,911.750000,-200,1.489323,543.750000,69.0,958.500000,54.6,1002.000000,573.000000,12.100000,56.300000,0.792730
9345,2005-04-04,03:00:00,0.4,887.000000,-200,1.086365,507.500000,61.7,1046.500000,51.3,973.500000,548.750000,11.325000,58.899999,0.788769
9346,2005-04-04,04:00:00,-200.0,864.250000,-200,0.801504,478.250000,52.3,1116.000000,42.5,958.250000,488.750000,11.825000,55.975000,0.774275
9347,2005-04-04,05:00:00,0.5,888.250000,-200,1.307608,528.000000,76.5,1076.500000,53.1,987.000000,577.500000,10.400000,59.875000,0.754964
9348,2005-04-04,06:00:00,1.1,1030.500000,-200,4.359341,730.250000,182.2,760.000000,93.0,1129.000000,905.000000,9.550000,63.150000,0.753129
9349,2005-04-04,07:00:00,4.0,1383.500000,-200,17.364240,1220.750000,593.7,470.250000,154.6,1600.000000,1457.250000,9.675000,61.924999,0.744608
9350,2005-04-04,08:00:00,5.0,1446.000000,-200,22.393233,1361.500000,586.2,414.750000,173.6,1776.500000,1704.500000,13.550000,48.875000,0.755337
9351,2005-04-04,09:00:00,3.9,1296.500000,-200,13.552393,1102.000000,522.7,506.750000,186.5,1375.250000,1582.500000,18.150001,36.275001,0.748652
9352,2005-04-04,10:00:00,3.1,1314.250000,-200,13.529605,1101.250000,471.7,538.500000,189.8,1374.250000,1728.500000,21.850000,29.250000,0.756824
9353,2005-04-04,11:00:00,2.4,1162.500000,-200,11.355157,1027.000000,353.3,603.750000,179.2,1263.500000,1269.000000,24.325000,23.725000,0.711864
9354,2005-04-04,12:00:00,2.4,1142.000000,-200,12.374538,1062.500000,293.0,603.250000,174.7,1240.750000,1092.000000,26.900000,18.350000,0.640649
9355,2005-04-04,13:00:00,2.1,1002.500000,-200,9.547187,960.500000,234.5,701.500000,155.7,1041.000000,769.750000,28.325000,13.550000,0.513866
9356,2005-04-04,14:00:00,2.2,1070.750000,-200,11.932060,1047.250000,265.2,654.000000,167.7,1128.500000,816.000000,28.500000,13.125000,0.502804

In [8]:
# 5) Find the missing values in each column and replace them with appropriate value of the column

airdata2 = airdata.replace(-200,np.nan)
print("---------BEFORE---------")
print(airdata2.isnull().sum())

# Changed missing value (-200) to median

for column in airdata2[['CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)',
                        'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 
                        'PT08.S4(NO2)', 'PT08.S5(O3)', 'T', 'RH', 'AH']]:
    airdata2[column].fillna((airdata2[column].median()), inplace=True) 
    
# Median does not consider NaN value
print("---------AFTER---------")
print(airdata2.isnull().sum())

---------BEFORE---------
Date                0
Time                0
CO(GT)           1683
PT08.S1(CO)       366
NMHC(GT)         8443
C6H6(GT)          366
PT08.S2(NMHC)     366
NOx(GT)          1639
PT08.S3(NOx)      366
NO2(GT)          1642
PT08.S4(NO2)      366
PT08.S5(O3)       366
T                 366
RH                366
AH                366
dtype: int64
---------AFTER---------
Date             0
Time             0
CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64

In [9]:
airdata2.head(11)

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10,18:00:00,2.6,1360.00,150.0,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.600,48.875001,0.757754
1,2004-03-10,19:00:00,2.0,1292.25,112.0,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.300,47.700000,0.725487
2,2004-03-10,20:00:00,2.2,1402.00,88.0,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.900,53.975000,0.750239
3,2004-03-10,21:00:00,2.2,1375.50,80.0,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.000,60.000000,0.786713
4,2004-03-10,22:00:00,1.6,1272.25,51.0,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.150,59.575001,0.788794
5,2004-03-10,23:00:00,1.2,1197.00,38.0,4.741012,750.25,89.0,1336.50,96.0,1393.00,949.25,11.175,59.175000,0.784772
6,2004-03-11,00:00:00,1.2,1185.00,31.0,3.624399,689.50,62.0,1461.75,77.0,1332.75,732.50,11.325,56.775000,0.760312
7,2004-03-11,01:00:00,1.0,1136.25,31.0,3.326677,672.00,62.0,1453.25,76.0,1332.75,729.50,10.675,60.000000,0.770238
8,2004-03-11,02:00:00,0.9,1094.00,24.0,2.339416,608.50,45.0,1579.00,60.0,1276.00,619.50,10.650,59.674999,0.764819
9,2004-03-11,03:00:00,0.6,1009.75,19.0,1.696658,560.75,179.8,1705.00,109.0,1234.75,501.25,10.250,60.200001,0.751657
10,2004-03-11,04:00:00,1.8,1011.00,14.0,1.293620,526.75,21.0,1817.50,34.0,1196.75,445.25,10.075,60.474999,0.746495

In [10]:
# 6) Find the correlation between features.
# sns.pairplot(airdata2)
plt.show()
# corr = airdata2.corr()
# corr.style.background_gradient(cmap='coolwarm')

In [11]:
# 7) If possible, pick the features that are least correlated and perform linear regression.
#    Find the mean squared error and r-squared for the test data.

reg = linear_model.LinearRegression()
print(reg)

#least correlated : 0.00596607
# T & CO(GT)

x = airdata2[['T']]
y = airdata2[['CO(GT)']]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 4)
reg.fit(x_train, y_train)
print(reg.coef_)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
[[-0.00010411]]

In [12]:
yhat = reg.predict(x_test)
#print(yhat)

#mean squared error
np.mean((yhat-y_test)**2)

CO(GT)    1.723437
dtype: float64

In [13]:
#r-squared for the test data
reg.score(x_test, y_test)

-0.0010909075321936523

In [14]:
# Accuracy is only 1% for the linear model for the value T & CO(GT) as least correlated